.container {
  padding: 3px 0px;
  margin: 30px auto;
  border-radius: 10px;
  border: solid rgb(76, 76, 142);
  box-sizing: border-box;
  background: radial-gradient(circle at 10% 20%,
      rgb(255, 246, 236) 39.5%,
      rgba(100, 46, 122, 0.23) 100.2%);
  width: 55%;
}

form {
  margin-top: 10px;
  margin-left: 15px;
}

.search__input {
  border-radius: 4px;
  border: #8f6eb876;
  padding: 6px 6px;
}

.btn-primary {
  background: rgb(193, 193, 243);
  border: rgb(86, 86, 137);
  display: inline-flex;
  margin-top: -5px;
  margin-left: 1px;
  font-weight: bold;
}

.btn-primary:hover {
  font-weight: bold;
  color: rgb(76, 76, 142);
  background: rgb(147, 147, 236) 1%;
}

.btn-primary.current {
  margin-left: 0px;
}

h1 {
  text-align: right;
  color: rgb(21, 8, 65);
  font-size: 10rem;
  margin-top: -20px;
  margin-bottom: 5px;
  margin-right: 7px;
  transition: all 1ms ease-in;
}

h1:hover {
  color: rgb(76, 76, 142);
}

h2 {
  font-size: 16px;
  display: block;
  margin-left: 15px;
  margin-top: -45px;
  margin-bottom: -5px;
  position: relative;
  top: -85px;
}

ul {
  border: 0px;
  padding: 0px;
}

li {
  text-decoration: none;
  list-style: none;
}

.location {
  font-size: 25px;
}

.time {
  font-size: 17px;
  margin-bottom: 5px;
}

.description {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.current-time-place {
  display: block;
  margin-left: 15px;
  margin-top: -93px;
  margin-bottom: -15px;
}

h5 {
  text-align: right;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.thermal-sensation {
  margin-right: 1px;
  margin-left: 1px;
}

.precipitation {
  margin-right: -5px;
  margin-left: 1px;
}

.fa-sun.big {
  color: rgb(250, 209, 5);
  font-size: 25px;
  margin-right: 1px;
}

.fa-temperature-high.heading {
  color: rgb(76, 76, 142);
  font-size: 17px;
  margin-right: -4px;
  margin-left: 10px;
}

.fa-temperature-high.heading:hover {
  color: red;
}

.fa-droplet.heading {
  color: rgb(76, 76, 142);
  font-size: 17px;
  margin-right: -3px;
}

.fa-droplet.heading:hover {
  color: rgb(24, 24, 249);
}

.fa-wind.heading {
  color: rgb(76, 76, 142);
  margin-left: 8px;
  font-size: 17px;
  margin-right: -1px;
}

.fa-wind.heading:hover {
  color: green;
}

.forecast-long {
  border-radius: 10px;
}

.col-4 {
  display: flex;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.card {
  flex: 1 1 15rem;
  margin: 1px;
  display: inline-flex;
  border: 1px solid rgb(76, 76, 142);
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.fa-sun {
  color: rgb(249, 190, 81);
  font-size: 20px;
}

.fa-cloud-sun {
  color: rgb(203, 203, 176);
  font-size: 20px;
}

.forecast-long h4 {
  font-size: 18px;
}

.card.temperature {
  font-size: 16px;
}

.fa-droplet.bottom-left {
  text-align: left;
  font-size: 13px;
  color: rgb(82, 98, 180);
}

.fa-wind.bottom-right {
  text-align: right;
  font-size: 13px;
  color: rgba(2, 131, 34, 0.244);
}

.indicator_weather_bottom {
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 13px;
}

.indicator-rain {
  text-align: left;
}

.indicator-wind {
  text-align: right;
}

.codedBy {
  font-size: 10px;
  margin-top: 7px;
  margin-left: 15px;
}

.greetingUser {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 5px;
  margin-right: 15px;
}