body {
  font-family: 'Poppins', sans-serif;
}

.weather-app {
  padding: 3px 0px;
  margin: 30px auto;
  border-radius: 10px;
  border: solid rgb(76, 76, 142);
  box-sizing: border-box;
  background: linear-gradient(359.3deg, rgb(197, 196, 252) 1.5%, rgba(187, 187, 187, 0) 60%);
  max-width: 700px;
  box-shadow: 5px 5px 2px 1px rgba(119, 119, 127, 0.2);
}

form {
  margin-top: 10px;
  margin-left: 15px;
  max-width: 600px;
}

.form-control {
  border-style: solid;
  border-width: thin;
  border-color: rgb(76, 76, 142);
}

.btn-primary {
  background: rgb(193, 193, 243);
  border: rgb(86, 86, 137);
  font-weight: bold;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: rgb(76, 76, 142);
}

.btn-primary:hover {
  font-weight: bold;
  color: rgb(76, 76, 142);
  background: rgb(147, 147, 236) 1%;
}

.btn-secondary {
  background: rgb(193, 193, 243);
  border: rgb(86, 86, 137);
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: rgb(76, 76, 142);
}

.btn-secondary:hover {
  font-weight: bold;
  color: rgb(76, 76, 142);
  background: rgb(147, 147, 236) 1%;
}

ul {
  border: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

.current-time-place {
  margin-left: 15px;
  padding-top: 110px;
}

.location {
  font-size: 25px;
}

.location:first-line {
  text-transform: capitalize;
}

.time {
  font-size: 17px;
}

.description {
  font-size: 20px;
  font-style: oblique;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.description:first-letter {
  text-transform: capitalize;
}

.current-temperature {
  padding-top: 0px;
  text-align: end;
}

.weather-temperature img {
  margin-top: 55px;
  margin-bottom: -130px;
}

.weather-temperature strong {
  font-size: 9rem;
  color: rgb(43, 23, 110);
  line-height: 1;
  padding-top: 115px;
}

.weather-temperature strong:hover {
  color: rgb(12, 12, 76);
}

.weather-temperature .units {
  font-size: 20px;
  position: relative;
  margin-right: 15px;
  top: -90px;
}

.weather-temperature .active {
  color: rgb(76, 76, 142);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

h5 {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: -30px;
}

.thermal-sensation {
  margin-right: 6px;
}

.precipitation {
  margin-right: -2px;
}

.fa-sun.big {
  color: rgb(250, 209, 5);
  font-size: 25px;
  margin-right: 1px;
}

.fa-temperature-high.heading {
  color: rgb(76, 76, 142);
  font-size: 17px;
  margin-right: -4px;
  margin-left: 10px;
}

.fa-temperature-high.heading:hover {
  color: red;
}

.fa-droplet.heading {
  color: rgb(76, 76, 142);
  font-size: 17px;
  margin-right: -3px;
}

.fa-droplet.heading:hover {
  color: rgb(24, 24, 249);
}

.fa-wind.heading {
  color: rgb(76, 76, 142);
  margin-left: 8px;
  font-size: 17px;
  margin-right: -1px;
}

.fa-wind.heading:hover {
  color: green;
}

.forecast-long {
  border-radius: 10px;
}

.col-4 {
  display: flex;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.card {
  flex: 1 1 15rem;
  margin: 1px;
  margin-bottom: 5px;
  display: inline-flex;
  border: 1px solid rgb(76, 76, 142);
  background: white;
}

h4 {
  font-size: 18px;
}

.weather-bottom {
  margin-top: -15px;
  margin-bottom: -20px;
}

.temperature {
  font-size: 16px;
}

.minimumTemp {
  opacity: 0.5;
}

.fa-droplet.bottom-left {
  text-align: left;
  font-size: 13px;
  color: rgb(82, 98, 180);
}

.fa-wind.bottom-right {
  text-align: right;
  font-size: 13px;
  color: rgba(2, 131, 34, 0.244);
}

.indicator_weather_bottom {
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 13px;
}

.indicator-rain {
  text-align: left;
}

.indicator-wind {
  text-align: right;
}

.small {
  font-size: 10px;
  margin-top: 15px;
  margin-left: 15px;
}

.greetingUser {
  text-align: right;
  margin-top: -24px;
  margin-bottom: 5px;
  margin-right: 15px;
}

@media (max-width:576px) {
  form {
    margin-top: 10px;
    margin-left: 0px;
    max-width: 400px;
  }

  .current-temperature {
    text-align: center;
  }

  .weather-temperature strong {
    font-size: 6rem;
  }

  .location {
    font-size: 20px;
    text-align: center;
  }

  .description {
    font-size: 17px;
    text-align: center;
  }

  .time {
    text-align: center;
  }

  .current-time-place {
    margin-left: 0;
    padding: 10px 0 0 0;
  }

  h5 {
    margin-left: 0;
    margin-right: 0;
  }

  .day-week {
    font-size: 16px;
  }

  .indicator_weather_bottom {
    font-size: 11px;
  }

  .fa-droplet.bottom-left {
    font-size: 10px;
  }

  .fa-wind.bottom-right {
    font-size: 10px;
    text-align: left;
    color: rgba(4, 84, 24, 0.244);
  }

  .card-body {
    padding: 17px 2px;
  }
}